.car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18rem;
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 0.3rem;
  padding: 1rem;
  .car__image {
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: contain;
    border-radius: 0.3rem;
  }
  .car__name {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
