@import "../../styles/variables.scss";

.selectBox {
  .selectBox__item {
    background-color: $white-color;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 0 none;
    border-radius: 3rem;
    box-shadow: $firstDarkColor 0px 4px 12px;
    margin-right: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: $firstLight-color;
    }
    &.-active {
      background-color: $primary-color;
    }
  }
}
